body{
  background-color: dimgray;
}
.piros{
    background-color: red;
}
.feher{
    background-color: white;
}
.zold{
    background-color: green;
}
.margo{
  margin-left: 350px;
  width: 1200px;
  height: 600px;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
  li {
    float: left;
}
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
}

table {
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(21, 55, 87);
    color: bisque;
  }
  
  td, th {
    border: 3px solid rgb(0, 0, 0);
    text-align: left;
    padding: 8px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(25, 31, 37);
  }
  
  tr:nth-child(even) {
    background-color: white;
  }
  .cella{
    text-align: right;
  }
